.page-footer {
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 35px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #2d4e68;

  background-color: #ffffff;
}
.page-footer__caption {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
.page-footer__social-img {
  cursor: pointer;
}
.page-footer__phone {
  display: block;
  margin: 0 auto;
  padding: 0;

  line-height: 48px;
}
.page-footer__support {
  display: block;
  margin: 0 auto;
  padding: 0;

  font-size: 10px;
  line-height: 48px;
}
.page-footer__copyright {
  display: block;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 58%;
    min-width: 750px;
    margin: 0 auto;
    padding: 0 15px;

    box-sizing: border-box;
  }
  .page-footer__list.hidden {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-family: "Raleway";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;

    list-style: none;
  }
  .page-footer__caption {
    text-align: left;
  }
  .page-footer__support-wrapper {
    text-align: left;
  }
  .page-footer__phone, .page-footer__support {
    line-height: 24px;
  }
}
